body{
    width: 360px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    color:rgb(149, 0, 255);
}
.test1{
    background: 
      linear-gradient(to right, white, white),
      linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
#s1{
    color: palevioletred;
}
.test2 {
    background-size: 0 0.1em, 100% 0.1em;
}
hr{
    padding: 5px;
}
h2{
    margin-left: 10px;
    text-decoration: underline pink;
    color: orchid;
}
img{
    width: 100px;
}
.easy{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
button{
    width: 200px;
    height: 30px;
    margin-inline: 80px;
    margin-top: 10px;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 50px;
}
button:enabled{
    background-color: violet;
}
.hide1{
    display: none;
}
form{
    text-align: center;
}
label,select,input{
    margin: 10px;
}
input{
    font-size: 20px;
    padding-inline: 10px;
}
#cont3{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
#cont3 p{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    animation: ranim infinite 2s;
}
@keyframes ranim {
    0%{
        text-decoration:none;
    }
    100%{
        text-decoration: underline hotpink;
    }
}