*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
audio{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
audio::-webkit-media-controls-play-button:hover{
    background-color: lightblue;
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: #333;
}
audio::-webkit-media-controls-time-remaining-display{
    color: #333;
}
audio::-webkit-media-controls-timeline:hover{
    border-radius: 40px;
    background-color: lightblue;
}
audio::-webkit-media-controls-volume-slider{
    background-color: lightblue;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button:hover{
    background-color: lightblue;
    border-radius: 50%;
}