*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
    margin: auto;
    margin-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1.5fr .2fr;
    grid-template-areas: "h1 h1" "side1 side2" "btn btn";
}
h1{
    text-align: center;
    text-transform: capitalize;
    -webkit-text-stroke: 2px rgb(74, 74, 193);
    color: transparent;
    grid-area: h1;
    margin-bottom: 20px;
}
select{
    text-align: center;
    border-radius: 20px;
    background-color: rgb(222, 255, 244);
    border: 2px rgb(147, 147, 255) solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    font-size: 20px;
    font-weight: 600;
}
#sel1{
    grid-area: side1;
}
.hide{
    display: none;
}
#sel2{
    grid-area: side2;
}
#btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    grid-area: btn;
}
button{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    background-color: aquamarine;
    color: rgb(43, 104, 226);
}
button:hover{
    background-color: rgb(96, 193, 161);
}
iframe{
    border: none;
    margin-top: 10px;
    width: 90%;
    height: 50vh;
    margin-left: 5%;
}
.hide{
    display: none;
}